* {
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Open Sans', sans-serif; */
font-family: 'Roboto', sans-serif;
}

.sitebody{
  /* background-color: aqua; */
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 100vh;
}
.box1{
  /* color: aquamarine; */
  /* background-color: rgb(9, 255, 0); */
  height: 100%;
  z-index: 3;
  /* display: block; */


}
.box2{
  z-index: 2;
  width: 100%;
  color: aquamarine;
  /* background-color: blue; */
  /* display: grid; */
  display: flex;
  flex-direction: column;
  /* justify-content:space-between; */
  gap: 2rem;
  


  
}

.header{
  position:fixed;
  display: grid;
  writing-mode: vertical-rl;
  color: #000;
  font-size: 3.5vw;
  line-height: 0.82;
  margin-left: 12%;
}
.photograph{
  text-rendering: optimizeSpeed;
  font-weight: 600;
}
.name{
  font-weight: 300;
}

.box2>img{
  /* padding: 10px; */
}
img{
  /* object-fit: contain; */
  width: 100%;
}

.picture-box{
  /* background-color: brown; */
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.7rem;
  /* grid-auto-rows: minmax(200px,auto); */
}



@media screen and (max-width:576px){
  .sitebody{
    /* background-color: aqua; */
    width: 100vw;
    display: grid;
    grid-template-columns: 25% 100%;
    /* grid-template-columns: 0% 100%; */
    /* grid-template-rows: auto auto; */

  }
  .picture-box{
    display: grid;
    grid-row: 2/2;
    width: 100vw;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
   
  }
  .box1{
    /* display: block; */
    grid-row: 1/2;
    width: 100vw;
    height: 330px;
    /* display: none; */
    /* visibility:hidden; */
    /* color: aquamarine; */
    /* background-color: rgb(255, 60, 0); */
    margin: 0;
  }

  .box2{
    color: aquamarine;

    width: 80%;
    display: grid;
    gap: 1rem;
    justify-items: center;
    

  }

  .header{
    position: absolute;
    /* background-color: aqua; */
    /* display: flex; */
    /* position:; */
    /* display: inline-block; */
    /* display: grid;
    writing-mode: vertical-rl;
    color: #000;
    line-height: 0.82; */
    width: auto;
    font-size: 7vw;
    /* margin-left: 80%;  */
    /* margin-right: 30px; */
    right: 10%;
    margin-top: 10%;
    animation-name: head-transition;
    animation-duration: 2s;
    animation-fill-mode:forwards;
    /* animation-timing-function: cubic-bezier(0.2, 0.56, 0.64, 0.92); */
    animation-timing-function: ease-out;
  }

  @keyframes head-transition {
    0%{opacity: 0;
        transform: translate(-15px);
        }

    50%{opacity: 0.5;
        transform: translate(-7);
    }
    100%{opacity: 1;
          transform: translate(0px);
        }
  }


  img{
    object-fit:cover;
    height:auto;
  }
  
}

@media screen and (min-width:576px) and (max-width:1100px){
  .picture-box{
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    width: 100%;
    /* display: grid; */

    /* grid-template-columns: 1fr 1fr; */
    /* gap: 1rem; */
    /* justify-items: center; */
   
  }
  .box2{
    /* justify-content:space-around; */
  }
  
  .header{
    font-size: 4.5vw;
    /* margin-left: 10%; */
    margin-right: 20%;

  }



}